<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navigation.latihan.githubappusersubmission2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubAppUserSubmission2">
        <activity
            android:name=".ui.roomfavorite.UserFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.user.DetailUserActivity"
            android:exported="false"
            android:theme="@style/Theme.GithubAppUserSubmission2" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.Onboarding" />
        <activity
            android:name=".ui.searchuser.SearchUserActivity"
            android:exported="false"
            android:theme="@style/Theme.GithubAppUserSubmission2" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/Theme.Onboarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.GithubAppUserSubmission2" />
    </application>

</manifest>